/* common shared styles */
body{
     
  font-family: "Open Sans", sans-serif;
 
    
}
/* nav related style start */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title{
    color: rgba(30, 30, 30, 1);
    font-weight: 800;
    font-size: 45px;
    

}
.primary-color{
    color: #FD6E0A;
}
nav> ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav li a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    color: white;
    background-color: #FD6E0A;
    font-weight: 700px;
    border: 0;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px 35px;
    
}

/* nav related style end */


/* Header related style start*/

.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    
}
.banner{
    display: flex;
    padding: 100px 100px 0px 240px;
    align-items: center;
    justify-content: space-between;
   
}
.banner-content{
    max-width:500px;
}


 .banner-pic{
    width: 500px;
    
}

.banner-greetings{
    color: #474747;
    font-size: 35px;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Header related style end*/



/* About section start*/

main{
    max-width: 1140px;
    margin: 0px auto;
}

.About{
    padding: 130px;
    margin: 130px 0px;
    background:#FFF8F3;;
    border-radius: 10px;
}

.section-title{
    clear: #181818;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}

.section-description{
    color: #757575;
    font-size: 18px;
    text-align: center;
    /* width: 790px; */
    /* justify-content: center; */
    font-weight: 100;
   
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    
}
.info-title{
    font-size: 20px;
    color: #757575;
    font-weight: 100;
}
.info-description{
    color: #474747;
    font-weight: 700;
    font-size: 20px;
    margin-top: -17px;
}

main section{
    margin-top: 130px;
}

/* About section end*/


/* What I do section start */

#description{
    padding: 30px 150px;
}

.skills-containner{
    display: flex;
    gap: 24px;
    border-radius: 10px;
}
.skill{
    padding: 30px;
    background: #fff;
    box-shadow: 6px 6px 6px 6px #a2a1a1;
    border-radius: 5px;

}
.skill-title{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}
.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: 100;
}

/* What I do section end */



/* Resume style start  */

.resume-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-containner{
    display: flex;
  
}
.resume-col{
    margin: 10px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 600;
}
.resume-item-institute{
    color: #757575;
    font-size: 20px;
    font-weight: 500;
    margin-top: -10px;
}

.resume-item-description{
    color: #757575;
    font-size: 16px;
    font-weight: 100;
    
}
.download-btn{
   text-align: center;
   margin-top: 50px;

}
hr{
    margin-top: 30px;
}


/* Resume style end  */

/* footer section start  */

footer{
    display: flex;
    gap: 100px;
    /* align-items: center; */
    background: #FFF8F3;
    padding: 150px 200px;
    margin-top: 100px;
}
.footer-section{
    width: 50%;
}

.footer-description{
    color:#474747;
    font-size: 16px;
    font-weight: 100;
}
.social-link a{
    margin-right: 24px;
}

.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    color: #757575;
    padding: 18px 35px;
    background: #ffff;
    border: 0;
    border-radius: 5px;
}

/* footer section end */